<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield :top_content %>

    <div class="container">
      <%= yield :mid_content %>
      <%= yield %>
    </div>
  </body>
</html>